@using TreatsTracker.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm())
{
  @Html.Label("UserName","Username:")
  @Html.TextBoxFor(m => m.UserName)
  <br>
  <br>
  @Html.Label("Password","Password:")
  @Html.EditorFor(m => m.Password)
  <br>
  <br>
  <input type="submit" value="Log in" class="btn btn-warning" />
}

<br>
<a href="/Account/Register"><button type="button" class="btn btn-secondary btn-sm">Register for an account</button></a>
<br><br>
<a href="/Account"><button type="button" class="btn btn-primary btn-sm">Back to Accounts page</button></a>
