@using TreatsTracker.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.Label("Email","Email:")
  @Html.TextBoxFor(user=> user.Email)
  <br>
  <br>
  @Html.Label("UserName","Name:")
  @Html.EditorFor(user=> user.UserName)
  <br>
  <br>
  @Html.Label("Password","Password:")
  @Html.EditorFor(user=> user.Password)
  <br>
  <br>
  @Html.Label("Confirm Password","Confirm Password:")
  @Html.EditorFor(user=> user.ConfirmPassword)
  <br>
  <br>
  <input type="submit" value="Register" class="btn btn-warning" />
}
<br>
<a href="/Account"><button type="button" class="btn btn-primary btn-sm">Back to Accounts page</button></a>
