@model TreatsTracker.Models.Flavor

<h2>Add a Flavor</h2>

@if (ViewBag.FlavorCount == 0)
{
  <h4>You have not added any treats yet! Please add them <span>@Html.ActionLink("here", "Index", "Treats")</span>
</h4>
}
else
{
  <h4>Assign a treat to this flavor: @Html.DisplayFor(model => model.Name)</h4>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select flavor")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
  }
}
<p>@Html.ActionLink("Back to list", "Index")</p>