@using TreatsTracker.Models
@model TreatsTracker.Models.Flavor


<h3>@Html.DisplayFor(model => model.Name)</h3>
@if (@Model.FlavorTreatJoinEntities.Count == 0)
{
  <p>This flavor is not assigned to any treats yet!</p>
}
else
{
  <h5>Assigned to:</h5>
  <table>
  <tr>
    <th>Treats</th>
    @if (User.IsInRole("Admin"))
      {
        <th>Actions</th>
      }
    </tr>
    @foreach (FlavorTreat join in Model.FlavorTreatJoinEntities)
    {
      <tr>
        <td>
          @Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId })
        </td>
        @if (User.IsInRole("Admin"))
        {
          <td>
            @using (Html.BeginForm("DeleteJoin", "Flavors"))
            {
              @Html.Hidden("joinId", @join.FlavorTreatId)
              @Html.Hidden("flavorId", Model.FlavorId)
              <input type="submit" value="Delete" class="btn btn-danger" />
            }
          </td>
        }
      </tr>

    }
  </table>

}
<br>
@if (User.IsInRole("Admin"))
{
  @Html.ActionLink("Add a treat", "AddTreat", new { id = Model.FlavorId }, new {@class = "btn btn-success"})
  @Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId }, new {@class = "btn btn-warning"})
  @Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId }, new {@class = "btn btn-danger"})
}
<a href="/Flavors"><button type="button" class="btn btn-primary">Back to List</button></a>

